black==24.4.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
filelock==3.13.1
flake8==7.0.0
fsspec==2024.2.0
ghp-import==2.1.0
idna==3.7
isort==5.13.2
Jinja2==3.1.4
loguru==0.7.2
-e git+ssh://git@github.com/ateliti99/makemore.git@681cc512d92cf8dce3e29f010e1d4ef8d90eca3f#egg=makemore
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.0
mkdocs-get-deps==0.2.0
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
packaging==24.0
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.2
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.1
pyyaml_env_tag==0.1
requests==2.32.3
rich==13.7.1
shellingham==1.5.4
six==1.16.0
sympy==1.12
tomli==2.0.1
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
tqdm==4.66.4
triton==2.3.1
typer==0.12.3
typing_extensions==4.12.2
urllib3==2.2.1
watchdog==4.0.1
